.hero {
    background-color: #1F2937;
}

.header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:800;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  }

.image1 {
    width: 500px;
    height: 250px;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
  }

.sign-up-button1 {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}